<div>
  <p>You have been signed in. Welcome.</p>

  <div>
    <label for="userFullName">Name</label>
    <input type="text" ng-model="user.name.display" id="userFullName">
  </div>

  <div>
    <label for="userEmail">Email</label>
    <input type="text" ng-model="user.email" id="userEmail">
  </div>

  <hr>

  <div ng-if="user.files.length && user.files.length > 0">
    <p>We currently have the following files from you:</p>
    <ul>
      <li ng-repeat="file in user.files track by $index">{{file}}</li>
    </ul>
  </div>

  <div ng-if="user.files.length !== undefined && user.files.length < 1">
    <p>We do not have any files from you, yet.</p>
  </div>

  <div ng-if="user.files.length === undefined">
    <p>Contacting server...</p>
  </div>

  <hr>

  <div ng-file-drop="onFileSelect($files)"
       ng-file-drag-over-class="'red'"
       style="font-size: 40px; border: 1px dashed black; padding: 10px;">
    Drop files here
  </div>
</div>